*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Walter Turncoat', cursive;

    display: flex;

    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    width: 100%;
}

nav{
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.barraSuperior{
    width: 1200px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barra{
    display: flex;
    align-items: center;
    min-height: 70px;
}

.logo__img{
    height: 140px;
    width: 140px;
}

.barra__items{
    list-style: none;
    display: flex;

    justify-content: space-around;
}

.barra__items li a{
    color: white;
    text-decoration: none;
}

.barra__items--selected{
    color: yellow;
}

.barra__items li a p{
    padding: 20px 50px 20px 50px;
    font-size: 18px;
}

.perfil,.datos,.contacto{
    margin: 20px;
}

.perfil__img{
    width: 300px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portada{
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contacto{
    width: 100%;
    
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
}

.contacto div {
    width: 50%;
}

.contacto div p{
    text-align: center;
}

.datos{
    width: 400px;
    height: 200px;
    display: flex;

    flex-wrap:wrap;
    justify-content: center;
    align-items: flex-start;/*flex-start*/
}

.datos div {
    width: 50%;
}

.datos div p{
    text-align: center;
}

#contacto__box{
    width: 100%;
    display: flex;
    justify-content: center;
}

#contacto__button{
    width: 40%;
    color: white;
    background-color: darkblue;
    padding: 10px;
    border-radius: 5px;

    display:flex;
    justify-content: center;
}

#contacto__button:hover{
    color:red;
}

#contacto__buttonOcultar{
    width: 40%;
    color: white;
    background-color: red;
    padding: 10px;
    border-radius: 5px;
    display: none;

    justify-content: center;
}

#contacto__buttonOcultar:hover{
    color:black;
}

#contacto__datos{
    display: none;
    width: 100%;
    margin: 10px 0 10px 0;
}

#contacto__datos.div.h3{
    width: 50%;
}

#contacto__datos div p{
    width: 50%;
}

.title{
    padding: 20px 0 20px 0;
}

.perfil__img{
    border-radius: 15px;
}

footer{
    height: 100px;
    background-color: gray;

    padding-left: 20px;
    padding-right: 20px;
    display:flex;
    justify-content: center;
}

.pie{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes__list{
    list-style: none;
    display: flex;
}

.redes__list li a{
    text-decoration: none;
    padding: 10px;
}

.redes__list__logo{
    width: 50px;
    height: 50px;
}

.experience{
    width: 1200px;
}

.trabajo{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 20px 0;
    justify-content: space-between;
}


.trabajo__col1{
    width: 25%;
    padding:10px;
}
.trabajo__col2{
    width: 20%;
    padding:10px;
}
.trabajo__col3{
    width: 45%;
    padding:10px;
}

.trabajo div h3{
    text-align: center;
}

.trabajo div p{
    text-align: center;
}


.educacion{
    width: 1200px;
}

.estudio{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 20px 0;
    justify-content: space-between;
}

.estudio__col1{
    width: 25%;
    padding:10px;
}
.estudio__col2{
    width: 20%;
    padding:10px;
}
.estudio__col3{
    width: 45%;
    padding:10px;
}

.estudio div h3{
    text-align: center;
}

.estudio div p{
    text-align: center;
}


/*MEDIA QUERIES*/
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {
    /*body {
        background-color: lightgreen;
    }*/
      /*INDEX*/
    .portada{
        flex-direction: column;
    }
    /*Experiencia*/
    .experience{
        width: 95%;
        padding: 0 20px 0 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*Estudio*/
    .educacion{
        width: 95%;
        padding: 0 20px 0 20px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    /*body {
        background-color: lightblue;
      }*/
    .barra__items li a p{
        padding: 0 30px 0 30px;
    }
    .portada{
        width: auto;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    /*body {
        background-color: rgb(199, 230, 173);
      }*/
    .barraSuperior{
        flex-direction: column;
    }
    /*EXṔERIENCIA*/
    .trabajo__col1{
        width: 90%;
    }
    .trabajo__col2{
        width: 90%;
    }
    .trabajo__col3{
        width: 90%;
    }
    .trabajo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .trabajo--encabezado{
        display: none;
    }

    .trabajo__col1 p{
        font-weight: bold;
    }

    /*Educación*/
    .estudio__col1{
        width: 90%;
    }
    .estudio__col2{
        width: 90%;
    }
    .estudio__col3{
        width: 90%;
    }

    .estudio{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .estudio--encabezado{
        display: none;
    }

    .estudio__col1 p{
        font-weight: bold;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    /*body {
        background-color: rgb(230, 184, 173);
      }*/
    .barra{
        height: auto;
        padding: 20px 0 20px 0;
    }
    .barra__items{
        height: 100px;
        flex-direction: column;
    }
}


