*{
    margin: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Walter Turncoat', cursive;

    display: flex;

    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

nav{
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.barraSuperior{
    width: 1200px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo__img{
    height: 140px;
    width: 140px;
}

.barra__items{
    list-style: none;
    display: flex;

    justify-content: space-around;
}

.barra__items li a{
    color: white;
    text-decoration: none;
}

.barra__items--selected{
    color: yellow;
}

.barra__items li a p{
    padding: 0 50px 0 50px;
    font-size: 18px;
}

.perfil__img{
    width: 300px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portada{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.datos{
    width: 400px;
    height: 200px;
    display: flex;

    flex-wrap:wrap;
    justify-content: center;
    align-items: flex-start;/*flex-start*/
}

.datos div {
    width: 50%;
}

.title{
    padding-bottom: 20px;
}

.perfil__img{
    border-radius: 15px;
}

footer{
    height: 80px;
    background-color: gray;

    padding-left: 20px;
    padding-right: 20px;
    display:flex;
    justify-content: center;
}

.pie{
    width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes__list{
    list-style: none;
    display: flex;
}

.redes__list li a{
    text-decoration: none;
    padding: 10px;
}

.redes__list__logo{
    width: 50px;
    height: 50px;
}

.experience{
    width: 1200px;
}

.trabajo{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 20px 0;
}

.trabajo div{
    width: 33%;
}

.trabajo div h3{
    text-align: center;
}

.trabajo div p{
    text-align: center;
}


.educacion{
    width: 1200px;
}

.estudio{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0 20px 0;
}

.estudio div{
    width: 33%;
}

.estudio div h3{
    text-align: center;
}

.estudio div p{
    text-align: center;
}